.banner {
    background-image: url("../img.urban/banner\ 2.jpg");
    height: calc(60vh - 100px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannercontenido h2 {
    font-size: 2rem;
    font-weight: bold;
    color: $color-negro;
    margin-bottom: 10px;
}